@charset "UTF-8";
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: #f5f5f5;
}
a {
  color: #333;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input[type="text"],
input[type="search"],
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
img {
  display: block;
  width: 100%;
}
p {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
.content {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  padding-top: 0.53333333rem;
}
.content .deduction {
  width: 90%;
  height: 2.13333333rem;
  border-radius: 0.21333333rem;
  background-color: #32c7c5;
  margin: 0 auto;
  position: relative;
  padding: 0 0.26666667rem;
  margin-bottom: 0.4rem;
}
.content .deduction .pic {
  width: 1.06666667rem;
  height: 1.06666667rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.content .deduction .pic img {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-position: center center;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content .deduction .info {
  display: inline-block;
  padding-left: 15%;
  width: 80%;
  height: 2.13333333rem;
  line-height: 2.13333333rem;
  text-align: left;
  font-size: 0.48rem;
  color: #fff;
}
.content .deduction .open {
  width: 20%;
  height: 2.13333333rem;
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
}
.content .deduction .open span {
  display: inline-block;
  font-size: 0.42666667rem;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.content .deduction .open .fa-angle-right {
  display: inline-block;
  height: 2.13333333rem;
  line-height: 2.13333333rem;
  font-size: 0.69333333rem;
  color: #fff;
  margin-left: 80%;
}
.content .deduction:nth-child(2n) {
  background-color: #dc4b5d;
}
.div-container {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 199;
  background: rgba(0, 0, 0, 0.5) !important;
  /* 兼容ie几不知道，好像ie5 */
  background: #000;
  filter: alpha(opacity=60);
  background-color: #fff;
}
/*设置div-child的父元素主要是将要此元素的父元素透明特性继承过来，故div-child不会半透明，而是不透明，解决了父元素透明，子元素也透明的bug */
.div-child-container {
  position: relative;
  width: 8.56rem;
  margin: auto;
  top: 55%;
  z-index: 299;
  /*z-index要放在父元素之上 */
}
.div-child-container .div-child {
  width: 8.56rem;
  margin: auto;
  background-color: #fff;
  z-index: 999;
  /*z-index要放在父元素之上 */
  text-align: center;
  border-radius: 0.32rem;
}
.div-child-container .div-child p {
  width: 8.56rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  font-size: 0.48rem;
  color: #225cc9;
  border-bottom: 0.02666667rem solid #cccccc;
  margin: 0;
}
.div-child-container .div-child p:last-child {
  border-bottom: none;
}
