@charset "UTF-8";
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: #f5f5f5;
}
a {
  color: #333;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input[type="text"],
input[type="search"],
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
img {
  display: block;
  width: 100%;
}
p {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  min-width: 8.53333333rem;
  max-width: 17.06666667rem;
  margin: 0 auto;
  position: relative;
  padding-top: 0.53333333rem;
}
.main .limit {
  width: 9.04rem;
  height: 1.44rem;
  border: 0.02666667rem solid #cccccc;
  border-radius: 0.4rem;
  background-color: #fff;
  margin: 0 auto 0;
  padding: 0 0.26666667rem;
  line-height: 1.44rem;
}
.main .limit .limit_name {
  font-size: 0.42666667rem;
  font-family: "PingFangSC-Medium";
  font-weight: 700;
}
.main .limit .limit_number {
  font-size: 0.42666667rem;
  color: #666;
}
.main .details {
  overflow: hidden;
  width: 9.04rem;
  height: 5.28rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0.4rem;
  margin: 0.48rem auto;
  padding: 0 0.26666667rem;
}
.main .details .day_limit {
  width: 9.04rem;
  height: 0.96rem;
  line-height: 0.96rem;
  margin: 0.48rem 0 0;
}
.main .details .day_limit span {
  color: #222A37 ;
  font-size: 0.42666667rem;
  font-family: "PingFangSC-Medium";
  font-weight: 700;
}
.main .details .day_limit input {
  font-size: 0.42666667rem;
  width: 6.13333333rem;
  background-color: #F5F5F5;
  border-radius: 0.18666667rem;
  margin-left: 0.21333333rem;
  padding: 0 0.32rem;
  margin-bottom: 0;
}
.main .details .back_btn {
  display: flex;
  justify-content: space-around;
  margin-top: 0.8rem;
}
.main .details .back_btn button {
  width: 3.04rem;
  height: 1.06666667rem;
  border-radius: 0.26666667rem;
  font-size: 0.42666667rem;
}
.main .details .back_btn button:nth-child(1) {
  color: red;
}
.main .details .back_btn button:nth-child(2) {
  color: fff;
  background-color: #ED171F;
}
